@use 'vars' as *;

.equalizer-container {
    overflow: hidden;
    display:flex;
    min-height: 100vh;
    min-width: 100vw;
    flex-direction: column;
    .page-header {
        padding-bottom: 5px;
        .toggle-switch-container {
            display:flex;
        }
    }

    .grains {
        flex: 1;
        display: flex;
        justify-content:space-evenly;
        margin: 0.8em 1.2em;

        .eq-grain {
            position: relative;
            display: flex;
            justify-content: center;
            gap: 4px;

            &:first-child {
                .zero-cutoff::after {
                    position: absolute;
                    font-size: 0.8em;
                    font-weight: 300;
                    content: "0";                    
                }
                .min-cutoff::after {
                    position: absolute;
                    font-size: 1em;
                    font-weight: 300;
                    content: "-12dB";                 
                }
                .max-cutoff::after {
                    position: absolute;
                    font-size: 1em;
                    font-weight: 300;
                    content: "+12dB";                 
                }
            }
            &:last-child {
                .zero-cutoff::after {
                    position: absolute;
                    font-size: 0.8em;
                    font-weight: 300;
                    content: "0";                    
                }
                .min-cutoff::after {
                    position: absolute;
                    font-size: 1em;
                    font-weight: 300;
                    content: "-12dB";                 
                }
                .max-cutoff::after {
                    position: absolute;
                    font-size: 1em;
                    font-weight: 300;
                    content: "+12dB";                 
                }
            }

            input {
                z-index: 1;
            }

            .zero-cutoff {
                position: absolute;
                border: 1px solid #{$color-text}77;
            }

            .hz-label {
                position: relative;
                display: flex;
                justify-content: center;
                font-size: 0.8em;
                font-weight: 300;

                .min-cutoff {
                    position: absolute;
                    border: 1px solid #{$color-text}77;
                }
                .max-cutoff {
                    position: absolute;
                    border: 1px solid #{$color-text}77;
                }
            }
        }
    }
}

/* Вертиальная ориентация */
@media (orientation: portrait) or ((orientation: landscape) and (min-height: $sz-max-landscape-height)) {
    .equalizer-container {
        .page-header {
            .toggle-switch-container {
                flex: 1 1 100vw;
                justify-content: center;
            }
        }

        .grains {
             flex-direction: column;
             
            .eq-grain {
                input {
                    width: 70vw;
                    height: 3em;
                }

                &:first-child {
                    .zero-cutoff::after {
                        right:-0.4em;
                        bottom: 100%;                        
                    }
                    .min-cutoff::after {
                        right: -1.3em;
                        bottom: 100%;     
                    }
                    .max-cutoff::after {
                        left: -1.8em;
                        bottom: 100%;
                    }
                }

                &:last-child {
                    .zero-cutoff::after {
                        right:-0.4em;
                        top: 100%;                        
                    }
                    .min-cutoff::after {
                        right: -1.3em;
                        top: 100%;     
                    }
                    .max-cutoff::after {
                        left: -1.8em;
                        top: 100%;
                    }
                }

                .zero-cutoff {
                    top:0;
                    left:0;
                    right:50%;
                    bottom: 0;
                    border-bottom: none;
                    border-top: none;
                    border-left: none;
                }

                .hz-label {
                    flex-direction: column;
                    min-width: 41px;

                    .min-cutoff {
                        top:0;
                        left:0;
                        right:calc(0em - 0.5em - 5px);
                        bottom: 0;
                        border-bottom: none;
                        border-top: none;
                        border-left: none;
                    }
                    .max-cutoff {
                        top:0;
                        left:calc(0em - 0.5em - 5px);
                        right:0;
                        bottom: 0;
                        border-bottom: none;
                        border-top: none;
                        border-right: none;
                    }
                }
            }
        }
    }
}

/* Горизонтальная ориентация */
@media (orientation: landscape) and (max-height: $sz-max-landscape-height)  {
    .equalizer-container {
        .page-header {
            .title {
                flex: 1;
            }
            .toggle-switch-container {
                flex: 0 7em;
            }
        }

        .grains {
            flex-direction: row;
            .eq-grain {
                flex-direction: column;

                input {
                    height: calc(100vh - 125px);
                    width: 3em;
                }

                &:first-child {
                    .zero-cutoff::after {
                        left:-1em;
                        top: -0.6em;                        
                    }
                    .min-cutoff::after {
                        bottom: -0.65em;
                        right: calc(100% + 2px);
                        content: "+12dB"   
                    }
                    .max-cutoff::after {
                        top: -0.65em;
                        right: calc(100% + 2px);
                        content: "-12dB"   
                    }
                }

                &:last-child {
                    .zero-cutoff::after {
                        right:-1em;
                        top: -0.6em;                        
                    }
                    .min-cutoff::after {
                        bottom: -0.65em;
                        left: calc(100% + 2px);
                        content: "+12dB"   
                    }
                    .max-cutoff::after {
                        top: -0.65em;
                        left: calc(100% + 2px);
                        content: "-12dB"   
                    }
                }

                .zero-cutoff {
                    top:50%;
                    left:0;
                    right:0;
                    bottom: 0;
                    border-bottom: none;
                    border-right: none;
                    border-left: none;
                }

                .hz-label {
                    flex-direction: row;

                    .min-cutoff {
                        top:0;
                        left:0;
                        right:0;
                        bottom: calc(0em - 0.5em - 4px);
                        border-right: none;
                        border-top: none;
                        border-left: none;
                    }
                    .max-cutoff {
                        top:calc(0em - 0.5em - 4px);
                        left:0;
                        right:0;
                        bottom: 0;
                        border-right: none;
                        border-bottom: none;
                        border-left: none;
                    }
                }
            }
        }
    }
}
@media (orientation: landscape) and (max-height: $sz-max-landscape-height) and (max-width: 315px)  {
    body {
        #root {
            .equalizer-container {
                .page-header {
                    min-height: 50px;
                    .title {
                        display: none;
                    }
                    .toggle-switch-container {
                        margin-left: 50px;
                        flex: 0 calc(100vw - 50px)
                    }
                }
            }
        }
    }
}

@media (max-width: 200px) {
    .equalizer-container {
        .page-header {
            .title {
                padding-left: 50px;
                width: auto;
                overflow-x: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}