@use 'vars' as *;

.home-container {
    min-height: 100vh;
    min-width: 155px;
    overflow-x: hidden;

    .header-panel {
        display: flex;
        flex-direction: column;
        width: 100vw;

        .marquee-container {
            font-size: 30px;
            font-weight: 600;
        }

        .no-wrap {
            &__inner {
                span {
                    font-size: 20px;
                }
                svg {
                    width: 30px;
                    height: 30px;
                    --color1: #5d4a1fa0;
                    --color2: #5d4a1f;
                }
            }
        }
    }

    .control-panel {
        display: flex;
        justify-content: space-evenly;

        .main-button {
            flex: 0 155px;
        }

        .shift-button {
            flex: 0 50px;
        }
    }

    .footer-panel {
        display: flex;
        flex-direction: column;
        gap:5px;
            justify-content: center;

        .marquee-container {
            font-size: 23px;
            font-weight: 500;

            &:nth-child(2) {
                font-size: 20px;
                font-weight: 400;
            }

            &:nth-child(3) {
                font-size: 16px;
                font-weight: 300;
            }
        }
    }
}

.list-button {
    position:absolute;
    top: 4px;
    width:40px;
    height:40px;
}

.eqalizer-button {
    position:absolute;
    right: 10px;
    width:36px;
    height:36px;
}


/* Вертиальная ориентация */
@media (orientation: portrait) or ((orientation: landscape) and (min-height: $sz-max-landscape-height)) {
    .home-container {
        display: flex;
        flex-direction: column;

        .header-panel {
            flex: 1;
            justify-content: center;
            .marquee-container {
                text-align: center;
            }
        }
        
        .control-panel {
            order: 1;
            flex-direction: row;
            flex: 0 155px;
            max-height: 155px;

            .shift-button {
                
                max-height: 50px;
                margin: 52px 0;

                &.back {
                    svg {
                        transform: rotate(180deg);
                    }
                }
            }
        }

        .footer-panel {
            flex: 1;
            order: 2;

            .marquee-container {
                text-align: center;
            }
        }
    }

    .list-button {
        left: 4px;
        right: unset;
        bottom: unset;
    }

    .eqalizer-button {
        top: 4px;
        left:unset;
        bottom: unset;
    }
}

/* Горизонтальная ориентация */
@media (orientation: landscape) and (max-height: $sz-max-landscape-height) {
    .home-container {
        display: grid;
        grid-template-columns: 200px 1fr;
        grid-template-rows: 1fr 1fr;
        overflow-x: hidden;

        .header-panel {
            width: calc(100vw - 200px);
            justify-content: end;
            padding-bottom: 15px;

            .no-wrap {
                &__inner {
                    padding-left: 10px;
                }
            }
        }

        .control-panel {
            grid-row: 1 / 3;
            flex-direction: column;

            .main-button {
                flex: 0 125px;
                max-width: 125px;
                font-size: 18px;
                margin: 0 37px;
            }

            .shift-button {                
                max-width: 50px;
                transform: rotate(90deg);
                margin: 0 75px;
                
                &.back {
                    transform: rotate(-90deg);  
                }
            }
        }

        .footer-panel {
            width: calc(100vw - 200px);
            justify-content: start;
            padding-top: 15px;
        }
    }

    .list-button {
        left: unset;
        right: 4px;
        bottom: unset;
    }

    .eqalizer-button {
        top: unset;
        left:unset;
        bottom: 4px;
    }
}

@media (orientation: landscape) and (max-height: 256px)
{
    .shift-button {
        display: none;
    }

    .home-container {
        .header-panel {
            .no-wrap {
                display: none;
            }
        }

        .footer-panel {
            .marquee-container {
                &:nth-child(3) {
                    display: none;
                }
            }
        }
    }
}

@media (orientation: landscape) and (max-height: 210px) {
    .home-container {
        .header-panel {
            width: calc(100vw - 250px);
        }
        .footer-panel {
            width: calc(100vw - 250px);
        }
    }
}

@media (max-width: 270px)
{
    .shift-button {
        display: none;
    }
}

@media (max-width: 155px)
{
    .home-container {
        display: none;
    }
}