@use 'vars' as *;

.home-container {
    min-height: 100vh;
    min-width: 155px;
    overflow-x: scroll;

    .header-panel {
        align-content: center;
        align-self: center;
    }

    .control-panel {
        display: flex;
        justify-content: space-evenly;

        .main-button {
            flex: 0 155px;
        }

        .shift-button {
            flex: 0 50px;
        }
    }

    .footer-panel {
        align-content: center;
        align-self: center;
    }
}

.list-button {
    position:absolute;
    top: 4px;
    width:40px;
    height:40px;
    opacity: 0.55;
}

.eqalizer-button {
    position:absolute;
    right: 10px;
    width:50px;
    height:50px;
    opacity: 0.55;
}


/* Вертиальная ориентация */
@media (orientation: portrait) or ((orientation: landscape) and (min-height: $sz-max-landscape-height)) {
    .home-container {
        display: flex;
        flex-direction: column;

        div {
            flex: 1;
        }
        
        .control-panel {
            order: 1;
            flex-direction: row;
            flex: 0 155px;
            max-height: 155px;

            .main-button {
                
            }

            .shift-button {
                
                max-height: 50px;
                margin: 52px 0;

                &.back {
                    svg {
                        transform: rotate(180deg);
                    }
                }
            }
        }

        .footer-panel {
            order: 2;
        }
    }

    .list-button {
        left: 10px;
        right: unset;
        bottom: unset;
    }

    .eqalizer-button {
        top: 4px;
        left:unset;
        bottom: unset;
    }
}

/* Горизонтальная ориентация */
@media (orientation: landscape) and (max-height: $sz-max-landscape-height) {
    .home-container {
        display: grid;
        grid-template-columns: 200px 1fr;
        grid-template-rows: 1fr 1fr;

        .control-panel {
            grid-row: 1 / 3;
            flex-direction: column;

            .main-button {
                flex: 0 125px;
                max-width: 125px;
                font-size: 18px;
                margin: 0 37px;
            }

            .shift-button {                
                max-width: 50px;
                transform: rotate(90deg);
                margin: 0 75px;
                
                &.back {
                    transform: rotate(-90deg);  
                }
            }
        }
    }

    .list-button {
        left: unset;
        right: 10px;
        bottom: unset;
    }

    .eqalizer-button {
        top: unset;
        left:unset;
        bottom: 4px;
    }
}

@media (max-width: 270px)
{
    .shift-button {
        display: none;
    }
}

@media (max-width: 155px)
{
    .home-container {
        display: none;
    }
}

@media (max-height: 220px)
{
    .shift-button {
        display: none;
    }
}