@use 'vars' as *;

@font-face {
  font-family: 'Outfit';
  src: url('./font/Outfit-VariableFont_wght.ttf') format('truetype-variations'),
       url('./font/Outfit-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    min-height: 100vh;
    background: $color-bkg-light;
    color: $color-text;
    background-repeat: no-repeat;

    #root {
        min-height: 100vh;

        .svg-button {
            transition: opacity 0.25s, transform 0.25s;

            &:hover {
                opacity: 1;
                cursor: pointer;
            }

            &:active {
                transform: scale(0.8);
            }
        }
    }
}

/* Вертиальная ориентация */
@media (orientation: portrait) or ((orientation: landscape) and (min-height: $sz-max-landscape-height)) {
    body {
        background-image:
            linear-gradient(to right,
                $color-bkg 0%,                    
                transparent 100%
            ),
            linear-gradient(to left,
                $color-bkg 0%,                    
                transparent 100%
            ),
            radial-gradient(
                circle at 50% 50%,
                $color-bkg-light 0%,
                $color-bkg 100%
            );
        
        background-size:
            20% 100%,
            20% 100%,
            100% 100%;
            
        background-position:
            left top,
            right top,
            center top;
        }
}

/* Горизонтальная ориентация */
@media (orientation: landscape) and (max-height: $sz-max-landscape-height) {
    body {
        background-image:
            linear-gradient(to left,
                $color-bkg 0%,                    
                transparent 100%
            ),
            radial-gradient(
                circle at 100px 50%,
                $color-bkg-light 0%,
                $color-bkg 100%
            );
            
        background-size:
            20% 100%,
            100% 100%;
            
        background-position:
            right top,
            center top;
    }
}