@use 'vars' as *;

@font-face {
  font-family: 'Geologica';
  src: url('./font/Geologica-VariableFont_CRSV,SHRP,slnt,wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-stretch: 50% 200%;
  font-style: oblique 0deg 15deg;
  font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Geologica', sans-serif;
    min-height: 100vh;
    background: $color-bkg-light;
    color: $color-text;
    background-repeat: no-repeat;

    input[type=range] {
        -webkit-appearance: none;
        appearance: none;
        background: transparent;
        border: none;
        outline: none;
        margin: 0;

        @mixin tumb-styles {
            background-color: $color-bkg-light;
            box-shadow:
                0 0 0.3em white inset,
                0 0 0.25em $color-text;
            cursor: pointer;
            border: 1px $color-bkg solid;
            border-radius: 0;
        }

        &::-webkit-slider-thumb {
            @include tumb-styles; 
            -webkit-appearance: none;
            appearance: none;
        }

        &::-moz-range-thumb {
            @include tumb-styles; 
        }

        @mixin track-styles {
            background-color: $color-bkg-light;
            border-radius: 0.3em;
            box-shadow: 0 0 0.3em $color-text inset,
        }

        &::-webkit-slider-runnable-track {
             @include track-styles; 
        }

        &::-moz-range-track {
            @include track-styles;
        }
    }

    #root {
        min-height: 100vh;

        .svg-button {
            opacity: 0.7;
            transition: opacity 0.25s, transform 0.25s;

            &:hover {
                opacity: 1;
                cursor: pointer;
            }

            &:active {
                transform: scale(0.8);
            }
        }

        .filter-edit {
            display: flex;
            flex-direction: row;
            background-color: #{$color-text}22;
            overflow: hidden;
            padding: 5px;
            border-radius: 3px;

            input {
                font-family: 'Geologica', sans-serif;
                font-size: 20px;
                color: $color-text;
                flex: 1;
                min-width: 130px;
                border: 0;
                outline: none;
                background-color: transparent;

                &::placeholder {
                    color: #{$color-text}55;
                }
            }

            .svg-button {
                flex: 0 0 25px;
                height: 25px;
                width: 25px;
            }
        }

        .page-header {
            display: flex;
            position: relative;

            .go-back {
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;

                svg {
                    margin: 10px;
                    height: 30px;
                    width: 30px;;
                }
            }

            .title {
                font-size: 25px;
                line-height: 50px;
                display: block;
                text-align: center;;
                opacity: 0.7;
            }
        }
    }
}

/* Вертиальная ориентация */
@media (orientation: portrait) or ((orientation: landscape) and (min-height: $sz-max-landscape-height)) {
    body {
        background-image:
            linear-gradient(to right,
                $color-bkg 0%,                    
                transparent 100%
            ),
            linear-gradient(to left,
                $color-bkg 0%,                    
                transparent 100%
            ),
            radial-gradient(
                circle at 50% 50%,
                $color-bkg-light 0%,
                $color-bkg 100%
            );
        
        background-size:
            20% 100%,
            20% 100%,
            100% 100%;
            
        background-position:
            left top,
            right top,
            center top;
        
        .page-header {
            flex-wrap: wrap;
            .title {
                min-width: calc(100vw - 50px);
                flex: 1;
            }
        }

        input[type=range] {
            writing-mode: horizontal-tb;

            @mixin tumb-styles {
                width: 1em;
                height: 2em;
            }

            &::-webkit-slider-thumb {
                @include tumb-styles;
                transform: translateY(-0.75em);
            }

            &::-moz-range-thumb {
                @include tumb-styles; 
            }

            &::-webkit-slider-runnable-track {
                height: 0.5em;
            }

            &::-moz-range-track {
                height: 0.5em;
            }
        }
    }
}

/* Горизонтальная ориентация */
@media (orientation: landscape) and (max-height: $sz-max-landscape-height) {
    body {
        background-image:
            linear-gradient(to left,
                $color-bkg 0%,                    
                transparent 100%
            ),
            radial-gradient(
                circle at 100px 50%,
                $color-bkg-light 0%,
                $color-bkg 100%
            );
            
        background-size:
            20% 100%,
            100% 100%;
            
        background-position:
            right top,
            center top;

        .page-header {
            flex-wrap: nowrap;

            .title {
                flex: 0 50vw;
            }
        }

        input[type=range] {
            writing-mode: vertical-rl;
            direction: rtl;

            @mixin tumb-styles {
                width: 2em;
                height: 1em;
            }

            &::-webkit-slider-thumb {
                transform: translateX(0.75em);
                @include tumb-styles; 
            }

            &::-moz-range-thumb {
                @include tumb-styles; 
            }

            &::-webkit-slider-runnable-track {
                width: 0.5em;
            }

            &::-moz-range-track {
                width: 0.5em;
            }
        }
    }
}