@use 'vars' as *;

.marquee-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;

  --gap: 5px; 

  span {
    display: inline-block;
    will-change: transform;

    padding-right: var(--gap);
    padding-left: var(--gap); 
  }

  &.is-overflowing {
    span {
      animation: scroll-text 5s ease-in-out infinite alternate;
    }
  }
}

@keyframes scroll-text {
  0% {
    transform: translate(var(--gap), 0);
  }
  100% {
    transform: translate(calc(-100% + var(--container-width) - var(--gap)), 0);
  }
}